<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.OutboundMapper">
    <insert id="insert" parameterType="OutboundDto">
        <selectKey keyProperty="outbound_id" resultType="int" order="BEFORE">
            SELECT outbound_seq.NEXTVAL FROM dual
        </selectKey>
        insert into outbound values(
            #{outbound_id},
            #{webuser_id},
            sysdate,
            'REQUEST'
        )
    </insert>
    <insert id="insert_exp" parameterType="OutboundDto">
        <selectKey keyProperty="outbound_id" resultType="int" order="BEFORE">
            SELECT outbound_seq.NEXTVAL FROM dual
        </selectKey>
        insert into outbound values(
        #{outbound_id},
        #{webuser_id},
        sysdate,
        'APPROVED'
        )
    </insert>
    <update id="update_status" parameterType="int">
        UPDATE outbound i
        SET approval_status =
        (
            SELECT
                CASE
                    WHEN SUM(CASE WHEN d.approval_status = 'REQUEST' THEN 1 ELSE 0 END) > 0
                    THEN 'REQUEST'
                    WHEN SUM(CASE WHEN d.approval_status = 'APPROVED' THEN 1 ELSE 0 END) > 0
                    THEN 'APPROVED'
                    ELSE 'REJECTED'
                END
            FROM outbound_detail d
            WHERE d.outbound_id = i.outbound_id
        )
        WHERE i.outbound_id = #{outbound_id}
    </update>
    <select id="select_status" parameterType="int" resultType="String">
        select approval_status from outbound where outbound_id=#{outbound_id}
    </select>
</mapper>