<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.WarehouseMapper">
    <select id="warehouse_stock" parameterType="int" resultType="int">
        select sum(s.quantity)
        from stock s
        join lot_in l on s.lot_in_id=l.lot_in_id
        where l.warehouse_id=#{value}
    </select>
    <select id="warehouse_capacity" parameterType="int" resultType="int">
        select capacity from warehouse where warehouse_id=#{value}
    </select>
</mapper>